<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/main.css' %}" />
        <title>Reviews</title>
    </head>
    <body>
        <header>
            <div>
                <h1>P&aacute;gina de reseñas</h1>
            </div>
        </header>
        <footer>
            <div>
                Desarrollada por Jos&eacute; Osorio &copy; Derechos reservados 2018
            </div>
        </footer>
    </body>
</html>
